#!/bin/bash

function create () {
  VOICE="${3:-Yannick}"
  if ! grep -qw "$VOICE:$2" Audio/$1.txt; then
    say -v $VOICE $2 -o gen/temp.aiff && ffmpeg -y -i gen/temp.aiff Audio/$1.ogg
    echo "$VOICE:$2" > Audio/$1.txt
  fi
}

function copy () {
  cp Audio/src/$2.$3 Audio/$1.$3
}

function copyn () {
  ffmpeg -y -i Audio/src/$2.$3 -af 'dynaudnorm=n=0:c=1' Audio/$1.ogg
}

#set ( $d = "${")
##cd Audio/src/; for i in *.mp3; do ffmpeg -y -i "$i" -af 'dynaudnorm=n=0:c=1' "../${d}i%.*}.ogg"; done; cd ../..

#foreach($v_item in $v_general)
create ${v_item.v_id} "${v_item.v_text}" $!{v_item.v_voice}
#end

#foreach($v_item in $v_info)
create ${v_item.v_id} "${v_item.v_text}" $!{v_item.v_voice}
#end

#foreach($v_item in $v_modi)
create modus_${v_item.v_id}_selected "Was willst du ${v_item.v_info}?" $!{v_item.v_voice}
#end

#foreach($v_item in $v_items)
#foreach($v_modus in $v_modi)

create ${v_item.v_id}_${v_modus.v_id} #if(${v_item.v_txts[${v_modus.v_id}]}) "${v_item.v_txts[${v_modus.v_id}]}" #else "${v_item.v_info} ${v_modus.v_info}" #end 

create ${v_item.v_id}_no${v_modus.v_id} "Du kannst ${v_item.v_info} so nicht ${v_modus.v_info}.  $!{v_item.v_infotxt}" 

create ${v_item.v_id}_to_${v_modus.v_id} "Um ein ${v_item.v_info} ${v_modus.v_do}." 
#end

create ${v_item.v_id}_infotxt #if(${v_item.v_infotxt}) "${v_item.v_infotxt}" #else "${v_item.v_info}" #end

create ${v_item.v_id}_limited #if($v_item.v_limited) "${v_item.v_limited}" #else "Hier hat es keine ${v_item.v_info} mehr." #end

create item_${v_item.v_id}_selectednoinv "Du hast kein ${v_item.v_info}. Was willst du als nächstes machen?"
create item_${v_item.v_id}_selected "Was willst du mit dem ${v_item.v_info} machen?"
create item_${v_item.v_id}_need "Du hast nicht genug ${v_item.v_info}. $!{v_item.v_infotxt}"
create item_${v_item.v_id}_inventory_0 "Du hast kein ${v_item.v_info}."
create item_${v_item.v_id}_inventory_1 "Du hast ein ${v_item.v_info}."
create item_${v_item.v_id}_0 "kein ${v_item.v_info}"
create item_${v_item.v_id}_1 "ein ${v_item.v_info}"
create item_${v_item.v_id}_inventory_more "Du hast mehr als ${v_maxitems} ${v_item.v_infos}."
create item_${v_item.v_id}_more "mehr als ${v_maxitems} ${v_item.v_infos}."
#set($range = [2..${v_maxitems}])
#foreach($i in $range)
create item_${v_item.v_id}_inventory_${i} "Du hast ${i} ${v_item.v_infos}."
create item_${v_item.v_id}_${i} "${i} ${v_item.v_infos}"
#end

#if (${v_item.v_drops})
#set($v_dropcounter = 0)
#foreach($v_drop in ${v_item.v_drops})
#set($range = [${v_drop.v_min}..${v_drop.v_max}])
#foreach($i in $range)
#if ($i==0)
create ${v_item.v_id}_attack_drop_$v_dropcounter "Du erhältst kein ${v_items[${v_drop.v_item}].v_info}"
#elseif ($i==1)
create ${v_item.v_id}_attack_drop_$v_dropcounter "Du erhältst ein $v_items[${v_drop.v_item}].v_info"
#else
create ${v_item.v_id}_attack_drop_$v_dropcounter "Du erhältst ${i} $v_items[${v_drop.v_item}].v_infos"
#end
#set($v_dropcounter = $v_dropcounter+1)
#end
#end
#end


#if (${v_item.v_needs})
#set($v_losscounter = 0)
#foreach($v_loss in ${v_item.v_needs})
#if (${v_loss.v_min})
#set($range = [${v_loss.v_min}..${v_loss.v_max}])
#foreach($i in $range)
#if ($i==0)
create ${v_item.v_id}_attack_loss_$v_losscounter "Und du verlierst kein ${v_items[${v_loss.v_src}].v_info}"
#elseif ($i==1)
create ${v_item.v_id}_attack_loss_$v_losscounter "Und du verlierst ein $v_items[${v_loss.v_src}].v_info"
#else
create ${v_item.v_id}_attack_loss_$v_losscounter "Und du verlierst ${i} $v_items[${v_loss.v_src}].v_infos"
#end
#set($v_losscounter = $v_losscounter+1)
#end
#end
#end
#end

#end

create item_inventory "Du hast"
create item_need "Du brauchst"
create item_inventory_more "Du hast mehr als "
