product-id: ${v_game_code} 
comment: Tiptoi-Craft
welcome: willkommen
media-path: ../Audio/%s
gme-lang: GERMAN

init: $currentgoalnumber:=65000 $location:=0 $wuerfel:=1 $gamemodus:=99 $selecteditem:=99 #foreach($v_item in $v_items) #if($v_item.v_limit) #if($v_item.v_codes) #foreach($v_code in $v_item.v_codes) $limit_${v_item.v_id}_${v_code}:=$v_item.v_limit #end #end #end #end $inventory_hearts:=10

scripts:

## GOAL / PORTAL ##

    script_goal_check:
#foreach($v_goal in $c_goals)
#set($v_currentgoal = $velocityCount - 1)
    - $currentgoalnumber==$v_currentgoal? $inventory_${v_goal.c_itemname}>=$currentgoalquantity? $currentgoalnumber:=65000 $inventory_${v_goal.c_itemname}-=$currentgoalquantity P(goal_reached)
#set($range = [24..1])
#foreach($i in $range)    
    - $currentgoalnumber==$v_currentgoal? $i==$currentgoalquantity? P(goal_need) J(${v_goal.c_itemname}_no_$i) P(5ms)
#end
#end
    - J(script_next_level) P(5ms)

    script_next_level:
    - $currentlevel+=1 $currentgoalnumber:=$currentlevel $tmp:=${c_goals.size()} J(script_next_level_split) P(5ms)

    script_next_level_split:
    - $currentgoalquantity+=1 $currentgoalquantity%=24 P(goal_next_level) J(script_goal_check) P(5ms)


# START ITEMS MAIN LOOP
#foreach($v_item in $v_items)
    #set( $v_currentitem = $velocityCount)

    ${v_item.v_id}_item_script:
#foreach($v_modus in $v_modi)
    - $gamemodus==${velocityCount}? J(${v_item.v_id}_${v_modus.v_id}) P(5ms)
#end
    - $inventory_${v_item.v_id}==0? #foreach($v_need in ${v_item.v_needs}) $inventory_${v_need.v_src} < ${v_need.v_quantity}?#end $selecteditem:=$v_currentitem P(item_${v_item.v_id}_selectednoinv)
    - $selecteditem:=$v_currentitem J(${v_item.v_id}_inventory)  P(5ms)


## HARVEST ##

    ${v_item.v_id}_harvest:
    - $gamemodus==3? $selecteditem:=$v_currentitem J(${v_item.v_id}_inventory)  P(5ms)
    - P(${v_item.v_id}_noharvest) $selecteditem:=$v_currentitem J(${v_item.v_id}_info)  P(5ms)

#foreach($v_code in ${v_item.v_codes}) 
#if(${v_item.v_mode}=="harvest")
    ${v_item.v_id}_${v_code}_harvest:
#if(${v_item.v_needs})
    #foreach($v_need in ${v_item.v_needs}) 
    - $inventory_${v_need.v_src} < ${v_need.v_quantity}? P(item_need) P(item_${v_need.v_src}_${v_need.v_quantity}) P(${v_item.v_id}_to_harvest)
    #end
#end
#if($v_item.v_limit) 
    - $limit_${v_item.v_id}_${v_code}<1? P(${v_item.v_id}_limited)
    - $inventory_${v_item.v_id}+=${v_item.v_quantity} $limit_${v_item.v_id}_${v_code}-=1  P(${v_item.v_id}_harvest) J(${v_item.v_id}_inventory)  P(5ms)
#else
    - $inventory_${v_item.v_id}+=${v_item.v_quantity} P(${v_item.v_id}_harvest) J(${v_item.v_id}_inventory)  P(5ms)
#end
#end
#end


## ATTACK ##

    ${v_item.v_id}_attack:
    - $gamemodus==3? $selecteditem:=$v_currentitem J(${v_item.v_id}_info)  P(5ms)
    - P(${v_item.v_id}_noattack) $selecteditem:=$v_currentitem J(${v_item.v_id}_info)  P(5ms)

#foreach($v_code in ${v_item.v_codes}) 
#if(${v_item.v_mode}=="attack")
    ${v_item.v_id}_${v_code}_attack:
    - $gamemodus==3? J(${v_item.v_id}_info)  P(5ms)
#if(${v_item.v_needs})
#foreach($v_need in ${v_item.v_needs}) 
    - $inventory_${v_need.v_src} < ${v_need.v_quantity}? P(item_need) P(item_${v_need.v_src}_${v_need.v_quantity}) P(${v_item.v_id}_to_attack)
#end
#end
#if($v_item.v_limit) 
    - $limit_${v_item.v_id}_${v_code}<1? P(${v_item.v_id}_limited)
    - $limit_${v_item.v_id}_${v_code}-=1  P(${v_item.v_id}_attack) J(${v_item.v_id}_attack_drop_rnd)  P(5ms)
#else
    - P(${v_item.v_id}_attack) J(${v_item.v_id}_attack_drop_rnd)  P(5ms)
#end
#end

#set($v_dropcounter = 0)
#set($v_losscounter = 0)

    ${v_item.v_id}_attack_drop:
#if (${v_item.v_drops})
#foreach($v_drop in ${v_item.v_drops})
#set($range = [${v_drop.v_min}..${v_drop.v_max}])
#foreach($i in $range)
    - $attack_rnd==$v_dropcounter? $inventory_${v_item.v_id}+=${i} P(${v_item.v_id}_attack_drop_$v_dropcounter) P(5ms)
#set($v_dropcounter = $v_dropcounter+1)
#end
#end
#end
    - J(${v_item.v_id}_attack_loss_rnd)

    ${v_item.v_id}_attack_loss:
#if (${v_item.v_needs})
#foreach($v_loss in ${v_item.v_needs})
#if(${v_loss.v_min})
#set($range = [${v_loss.v_min}..${v_loss.v_max}])
#foreach($i in $range)
    - $loss_rnd==$v_losscounter? $inventory_${v_loss.v_src}-=${i} P(${v_item.v_id}_attack_loss_$v_losscounter) J(${v_item.v_id}_inventory)  P(5ms)
#set($v_losscounter = $v_losscounter+1)
#end
#end
#end
#end
    - J(${v_item.v_id}_inventory)  P(5ms)

    ${v_item.v_id}_attack_drop_rnd:
    - #if (${v_item.v_drops}) T($r,65535) $rnd+=$r $rnd*=25173 $rnd+=13849 $attack_rnd:=$rnd $attack_rnd%=${v_dropcounter} #end J(${v_item.v_id}_attack_drop)  P(5ms)

    ${v_item.v_id}_attack_loss_rnd:
    - #if (${v_item.v_needs}) T($r,65535) $rnd+=$r $rnd*=25173 $rnd+=13849 $loss_rnd:=$rnd $loss_rnd%=${v_losscounter} #end J(${v_item.v_id}_attack_loss)  P(5ms)
#end


## CRAFTING AND EATING ##

    ${v_item.v_id}_craft:
    - $gamemodus==3?  $selecteditem:=$v_currentitem J(${v_item.v_id}_info)  P(5ms)
#if(${v_item.v_needs} && ${v_item.v_mode}=="craft")
#foreach($v_need in ${v_item.v_needs}) 
    - $inventory_${v_need.v_src} < ${v_need.v_quantity}? $selecteditem:=$v_currentitem P(item_need) P(item_${v_need.v_src}_${v_need.v_quantity}) P(${v_item.v_id}_to_craft)
#end
    - $inventory_${v_item.v_id}+=${v_item.v_quantity} #foreach($v_need in ${v_item.v_needs}) #if($v_need.v_tool) #else $inventory_${v_need.v_src}-=${v_need.v_quantity} #end #end  $selecteditem:=$v_currentitem P(${v_item.v_id}_craft) J(${v_item.v_id}_inventory)  P(5ms) 
#else
    -  $selecteditem:=$v_currentitem P(${v_item.v_id}_nocraft) 
#end


    ${v_item.v_id}_eat:
    - $gamemodus==3? $selecteditem:=$v_currentitem J(${v_item.v_id}_inventory)  P(5ms)
#if(${v_item.v_hearts})
    - $inventory_${v_item.v_id}>=1? $inventory_${v_item.v_id}-=1 $inventory_hearts+=1 $selecteditem:=$v_currentitem P(${v_item.v_id}_eat) 
#else
    - $selecteditem:=$v_currentitem P(${v_item.v_id}_noeat) 
#end


## ITEM INFO ##

    ${v_item.v_id}_info:
       - P(${v_item.v_id}_infotxt) $selecteditem:=$v_currentitem J(${v_item.v_id}_inventory)  P(5ms)

    ${v_item.v_id}_inventory:
#set($v_rangeend=$v_maxitems - 1)
#set($range = [0..$v_rangeend])
#foreach($i in $range)
    - $inventory_${v_item.v_id}==${i}? P(item_${v_item.v_id}_inventory_${i}) J(random2) P(5ms)
#end
    - P(item_${v_item.v_id}_inventory_more) J(random2) P(5ms)

    ${v_item.v_id}_no:
#set($v_rangeend=$v_maxitems - 1)
#set($range = [0..$v_rangeend])
#foreach($i in $range)
    - $inventory_${v_item.v_id}==${i}? P(item_${v_item.v_id}_${i})
#end
    - P(item_${v_item.v_id}_more)

#set($v_rangeend=$v_maxitems - 1)
#set($range = [0..$v_rangeend])
#foreach($i in $range)
    ${v_item.v_id}_no_${i}:
    - P(item_${v_item.v_id}_${i})
#end

    item_${v_item.v_id}_name_s:
    - P(item_${v_item.v_id}_name_s)

    item_${v_item.v_id}_name_p:
    - P(item_${v_item.v_id}_name_p)

#end
# END ITEMS MAIN LOOP


## GENERAL ##
#foreach($v_item in $v_info)
    ${v_item.v_id}_info_script:
    - P(${v_item.v_id})
#end

#foreach($v_modus in $v_modi)
    ${v_modus.v_id}_modus_script:
#foreach($v_item in $v_items)
    - $selecteditem==${velocityCount}? J(${v_item.v_id}_${v_modus.v_id})  P(5ms)
#end
    - $gamemodus:=${velocityCount} P(modus_${v_modus.v_id}_selected)

#end


    cheat_inventory:
    #foreach($v_item in $v_items) 
    - $selecteditem==${velocityCount}? $inventory_${v_item.v_id}:=99  J(${v_item.v_id}_inventory)  P(5ms)
    #end

    random:
    - $gamemodus:=99 $selecteditem:=99 J(random2)  P(5ms)

    random2:
    - T($r,65535) $rnd+=$r $rnd*=25173 $rnd+=13849 $wuerfel:=$rnd $wuerfel%=3 $wuerfel+=1

language: de

scriptcodes:

# START QUANTITY SCRIPT LOOP
#foreach($v_item in $v_items)
#set($v_currentitem=$velocityCount)

#end
# END QUANTITY SCRIPT LOOP


# START ITEMS SCRIPT LOOP
#foreach($v_item in $v_items)
#set($v_currentitem=$velocityCount)

    ${v_item.v_id}_item_script: $v_mcode[${v_item.v_code}]
#if(${v_item.v_codes})
#foreach(${v_code} in ${v_item.v_codes}) 
    ${v_item.v_id}_${v_code}_${v_item.v_mode}: $v_mcode[${v_code}] 
#end
#end

#end
# END ITEMS SCRIPT LOOP

    cheat_inventory: $v_mcode[$v_cheat_inventory_code]
    cheat_mode: $v_mcode[$v_cheat_mode_code]

#foreach($v_item in $v_info)
    ${v_item.v_id}_info_script: $v_mcode[${v_item.v_code}]
#end

#foreach($v_item in $v_modi)
    ${v_item.v_id}_modus_script: $v_mcode[${v_item.v_code}]
#end

## override portal v_code
    script_goal_check: $v_mcode[61]